# Dependencies
node_modules/

# Builds
dist/
build/
*.tsbuildinfo
packages/shared-types/src/*.js
packages/shared-types/src/*.js.map
packages/shared-types/src/*.d.ts

# Environment
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store

# Docker volumes
pgdata/
